
<div class="modal-body">
    <form class="row g-3" method="post" action="/admin/{{ mathang._id}}">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">{{mathang.name}}</label>
        </div>

        <div class="col-12">
            <img src={{mathang.img}} style="width: 300px; height: 300px;" alt="">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">{{mathang.soluong }}</label>
        </div>
    </form>
</div>