<form class="row g-3" method="post" action="/admin/creatLH">
    {{!-- <div class="col-md-6">
        <label for="inputEmail4" class="form-label">name</label>
        <input type="text" class="form-control" id="inputEmail4" name="name">
    </div>

    <div class="col-12">
        <label for="inputAddress" class="form-label">Anh</label>
        <input type="text" class="form-control" id="inputAddress" name="img">
    </div> --}}
    <div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">loai</label>
            <input type="text" class="form-control" id="inputAddress" name="loaihang">
        </div>
        
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">só lượng</label>
        <input type="text" class="form-control" id="inputAddress2" name="soluong">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">creat</button>
    </div>
</form>
